/* Shadows */
.ruby_shadow_inset {
  box-shadow: inset 0 0 10px 5px #ff0000, inset 0 0 40px 10px #330011;
}
.blake_shadow_inset {
  box-shadow: inset 0 0 10px 5px #000000, inset 0 0 40px 10px #220044;
}
/* Transition Timing */
html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#000000, #232323);
  background: linear-gradient(#000000, #232323);
  padding: 5% 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rwby-wrapper {
  background-color: #000;
  position: relative;
  width: 640px;
  height: 360px;
  -webkit-perspective: 750px;
  perspective: 750px;
  margin: 0 auto;
  z-index: 0;
}
.panel {
  width: 160px;
  height: 360px;
  display: inline-block;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.75s 0.5s, width 0.5s ease-in, left 0.5s ease-in, z-index 0s 1.25s;
  transition: transform 0.75s 0.5s, width 0.5s ease-in, left 0.5s ease-in, z-index 0s 1.25s;
}
.panel:hover {
  z-index: 10;
}
.panel.active {
  width: 640px;
  border-width: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.75s, width 0.5s ease-in 0.75s, left 0.5s ease-in 0.75s;
  transition: transform 0.75s, width 0.5s ease-in 0.75s, left 0.5s ease-in 0.75s;
}
.panel.active.one,
.panel.active.two,
.panel.active.three,
.panel.active.four {
  left: 0;
}
.panel.active.one:hover,
.panel.active.two:hover,
.panel.active.three:hover,
.panel.active.four:hover {
  box-shadow: 0 0 transparent;
}
.panel.active.one,
.panel.active.two {
  -webkit-transform: rotateY(179.99deg);
  transform: rotateY(179.99deg);
}
.panel.active.three,
.panel.active.four {
  -webkit-transform: rotateY(-179.99deg);
  transform: rotateY(-179.99deg);
}
.panel.active .back {
  -webkit-transition: box-shadow 0.5s ease 1.25s;
  transition: box-shadow 0.5s ease 1.25s;
}
.panel.active .back .player {
  opacity: 1;
  -webkit-transition: 0.25s opacity 1.25s;
  transition: 0.25s opacity 1.25s;
}
.panel.active.one .back {
  box-shadow: 0 0 10px 5px #ff0000, 0 0 40px 10px #330011;
}
.panel.active.two .back {
  box-shadow: 0 0 10px 5px #ffffff, 0 0 40px 10px #9999ff;
}
.panel.active.three .back {
  box-shadow: 0 0 10px 5px #000000, 0 0 40px 10px #220044;
}
.panel.active.four .back {
  box-shadow: 0 0 10px 7px #ffff00, 0 0 40px 10px #ff9900;
}
.panel .front,
.panel .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 0;
}
.panel .front {
  width: 160px;
  height: 360px;
  border: .625rem solid transparent;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s all;
  transition: .25s all;
}
.panel .front:hover {
  border-width: 0;
  z-index: 10;
  -webkit-transition: .25s all;
  transition: .25s all;
}
.panel .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.panel .back .player {
  opacity: 0;
}
.panel.one {
  left: 0;
}
.panel.one .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122724/rwby/images/thumb/2/2d/RubyReveal.png/197px-RubyReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.one .front:hover {
  box-shadow: inset 0 0 10px 5px #ff0000, inset 0 0 40px 10px #330011;
}
.panel.two {
  left: 160px;
}
.panel.two .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122719/rwby/images/thumb/3/33/WeissReveal.png/197px-WeissReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.two .front:hover {
  box-shadow: inset 0 0 10px 5px #ffffff, inset 0 0 40px 10px #9999ff;
}
.panel.three {
  left: 320px;
}
.panel.three .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122712/rwby/images/thumb/6/69/BlakeReveal.png/197px-BlakeReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.three .front:hover {
  box-shadow: inset 0 0 10px 5px #000000, inset 0 0 40px 10px #220044;
}
.panel.four {
  left: 480px;
}
.panel.four .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122051/rwby/images/thumb/0/09/YangReveal.png/197px-YangReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.four .front:hover {
  box-shadow: inset 0 0 10px 7px #ffff00, inset 0 0 40px 10px #ff9900;
}
.backgrounds {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.emblem {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
}
.emblem:after {
  content: "Deviantart: The-Blobmonster";
  color: #fff;
  text-shadow: 0 0 2px #000;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.emblem.active {
  opacity: .75;
  -webkit-transition: 0.5s opacity 1.25s;
  transition: 0.5s opacity 1.25s;
}
.emblem.ruby {
  background: url(http://i.imgur.com/K0M3ykU.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.emblem.weiss {
  background: url(http://i.imgur.com/owwMIkJ.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.emblem.blake {
  background: url(http://i.imgur.com/qXHN6PA.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.emblem.yang {
  background: url(http://i.imgur.com/dWwPTeZ.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.ad-container.ad-overlay {
  visibility: hidden !important;
}
