@window-width: 640px;
@window-height: 360px;

@panel-width: @window-width/4;
@panel-height: @window-height;

@char-width: 11rem;
@char-height: 22rem;

html {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

section {
  height: 100%;
  background: linear-gradient(#000, #232323);
  //background-color: #000;
}

.rwby-wrapper { 
  //background-color: transparent;
  //border: 1px solid #f00;
  position: relative;
  width: @window-width;
  height: @window-height;
  margin: 0 auto;
  //box-shadow: 0 0 25px 2px rgba(255, 255, 255, .5);
  z-index: 0;
}

.panel {
  //background-color: rgba(20, 20, 20, 1);
  // border: 1px solid #f00;
  
  width: @panel-width;
  height: @panel-height;
  
  display: inline-block;
  position: absolute;
  //box-sizing: border-box;

  //transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s all ease-in-out;
  z-index: 0;
  
  &.active {
    left: 0 !important;
    width: @window-width;
    border-width: 0;
    
    transform: rotateY(180deg);
    transition: 1s all ease-in-out;
    
    z-index: 100;

    .back {
      transition: .2s .8s box-shadow;
    }

    &.one .back{
      box-shadow: 0 0 10px 5px #f00,
      0 0 40px 10px #000;
    }

    &.two .back{
      box-shadow: 0 0 10px 5px #fff,
      0 0 40px 10px #99f;
    }

    &.three .back{
      box-shadow: 0 0 10px 5px #000,
      0 0 40px 10px #c0f;
    }

    &.four .back{
      box-shadow: 0 0 10px 5px #ff0,
      0 0 40px 10px #f90;
    }
  }

  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    opacity: .99;
    z-index: 0;
  }
  
  .front {
    width: @panel-width;
    height: @panel-height;
    border: 1rem solid #000;
    //top: 50%;
    //left: 50%;
    //margin: -@panel-height/2 -@panel-width/2;

    box-sizing: border-box;
    transition: 1s all ease-in-out;
  }
  
  .back {
    transform: rotateY(180deg);
    //background-color: rgba(0,0,0,.5);
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    
    /*iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }*/
  }  
  
  &.one {
    left: 0;
    
    .front {
      background: url(http://img2.wikia.nocookie.net/__cb20130701122724/rwby/images/thumb/2/2d/RubyReveal.png/197px-RubyReveal.png);
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .99;
    }
  }
  
  &.two {
    left: @panel-width;
    //margin-left: -1rem;

    .front{
      background: url(http://img2.wikia.nocookie.net/__cb20130701122719/rwby/images/thumb/3/33/WeissReveal.png/197px-WeissReveal.png);
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .99;
    }
  }
  
  &.three {
    left: 2*@panel-width;
    //margin-left: -2rem;
    
    .front{
      background: url(http://img2.wikia.nocookie.net/__cb20130701122712/rwby/images/thumb/6/69/BlakeReveal.png/197px-BlakeReveal.png);
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .99;
    }
  }
  
  &.four {
    left: 3*@panel-width;
    //margin-left: -3rem;

    .front{
      background: url(http://img2.wikia.nocookie.net/__cb20130701122051/rwby/images/thumb/0/09/YangReveal.png/197px-YangReveal.png);
      background-color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: .99;
    }
  }
}


.backgrounds {
  display: flex;
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: 0;

  .ruby {
  //position: absolute;
    height: 100%;
    width: 25%;
    //background-color: rgba(255, 0, 0, .3);
    
  }

  .weiss {
  //position: absolute;
    height: 100%;
    width: 25%;
    //background-color: rgba(255, 255, 255, .3);
    
  }

  .blake {
  //position: absolute;
    height: 100%;
    width: 25%;
    //background-color: rgba(0, 0, 0, .3);
    
  }

  .yang {
  //position: absolute;
    height: 100%;
    width: 25%;
    //background-color: rgba(255, 255, 0, .3);
    
  }

}