html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#000000, #232323);
  background: linear-gradient(#000000, #232323);
  padding: 5% 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rwby-wrapper {
  background-color: #000;
  position: relative;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  z-index: 0;
}
.panel {
  width: 160px;
  height: 360px;
  display: inline-block;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease 0.75s, width 0.75s ease-out, left 0.75s ease-out, z-index 0s, box-shadow 0.25s;
  transition: transform 0.5s ease 0.75s, width 0.75s ease-out, left 0.75s ease-out, z-index 0s, box-shadow 0.25s;
  z-index: 0;
}
.panel.active {
  left: 0 !important;
  border-width: 0;
  -webkit-transition: -webkit-transform 0.75s, width 0.5s ease-in 0.75s, left 0.5s ease-in 0.75s;
  transition: transform 0.75s, width 0.5s ease-in 0.75s, left 0.5s ease-in 0.75s;
  z-index: 100;
}
.panel.active.one,
.panel.active.two {
  -webkit-transform: rotateY(-179.99deg);
  transform: rotateY(-179.99deg);
}
.panel.active.three,
.panel.active.four {
  -webkit-transform: rotateY(179.99deg);
  transform: rotateY(179.99deg);
}
.panel.active .back {
  -webkit-transition: 0.2s 0.8s box-shadow;
  transition: 0.2s 0.8s box-shadow;
}
.panel.active.one .back {
  box-shadow: 0 0 10px 5px #ff0000, 0 0 40px 10px #330011;
}
.panel.active.two .back {
  box-shadow: 0 0 10px 5px #ffffff, 0 0 40px 10px #9999ff;
}
.panel.active.three .back {
  box-shadow: 0 0 10px 5px #000000, 0 0 40px 10px #220044;
}
.panel.active.four .back {
  box-shadow: 0 0 10px 7px #ffff00, 0 0 40px 10px #ff9900;
}
.panel .front,
.panel .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  z-index: 0;
}
.panel .front {
  width: 160px;
  height: 360px;
  border: .625rem solid transparent;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .25s all;
  transition: .25s all;
}
.panel .front:hover {
  border-width: 0;
  z-index: 10;
  -webkit-transition: .25s all;
  transition: .25s all;
}
.panel .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.panel:hover {
  z-index: 10;
  -webkit-transition: 0.25s z-index, 0.25s box-shadow;
  transition: 0.25s z-index, 0.25s box-shadow;
}
.panel.one {
  left: 0;
}
.panel.one .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122724/rwby/images/thumb/2/2d/RubyReveal.png/197px-RubyReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.one:hover {
  box-shadow: 0 0 10px 5px #ff0000, 0 0 40px 10px #330011;
}
.panel.two {
  left: 160px;
}
.panel.two .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122719/rwby/images/thumb/3/33/WeissReveal.png/197px-WeissReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.two:hover {
  box-shadow: 0 0 10px 5px #ffffff, 0 0 40px 10px #9999ff;
}
.panel.three {
  left: 320px;
}
.panel.three .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122712/rwby/images/thumb/6/69/BlakeReveal.png/197px-BlakeReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.three:hover {
  box-shadow: 0 0 10px 5px #000000, 0 0 40px 10px #220044;
}
.panel.four {
  left: 480px;
}
.panel.four .front {
  background: url(http://img2.wikia.nocookie.net/__cb20130701122051/rwby/images/thumb/0/09/YangReveal.png/197px-YangReveal.png);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel.four:hover {
  box-shadow: 0 0 10px 7px #ffff00, 0 0 40px 10px #ff9900;
}
.backgrounds {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.backgrounds .emblem {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.backgrounds .ruby {
  background: url(http://img4.wikia.nocookie.net/__cb20140810193819/rwby/images/9/91/Ruby_emblem_trans.png) no-repeat;
  background-position: center center;
}
.backgrounds .weiss {
  background: url(http://img4.wikia.nocookie.net/__cb20140810194747/rwby/images/b/bd/Weiss_emblem_trans.png) no-repeat;
  background-position: center center;
}
.backgrounds .blake {
  background: url(http://img4.wikia.nocookie.net/__cb20140810194746/rwby/images/2/2a/Blake_emblem_trans.png) no-repeat;
  background-position: center center;
}
.backgrounds .yang {
  background: url(http://img2.wikia.nocookie.net/__cb20140810194747/rwby/images/0/0c/Yang_emblem_trans.png) no-repeat;
  background-position: center center;
}
